---
- name: assert variables
  ansible.builtin.assert:
    that:
      - dest != ""
      - info_sparse_checkout != ""
      - remote_repo != ""
    fail_msg: missing variables

- name: create dest directory
  ansible.builtin.file:
    path: "{{dest}}"
    state: directory

- name: test if git is initialized
  ansible.builtin.command:
    chdir: "{{dest}}"
    argv:
      - git
      - rev-parse
      - --is-inside-work-tree
  register: repo_initialized

- name: create repo if repo not created
  ansible.builtin.command:
    chdir: "{{dest}}"
    argv:
      - git
      - init
  when: repo_initialized.rc != 0

- name: add remote if repo not created
  ansible.builtin.command:
    chdir: "{{dest}}"
    argv:
      - git
      - remote
      - add
      - origin
      - "{{remote_repo}}"
  when: repo_initialized.rc != 0

- name: config sparseCheckout
  ansible.builtin.command:
    chdir: "{{dest}}"
    argv:
      - git
      - config
      - core.sparseCheckout
      - true

- name: create .git/info/sparse-checkout
  ansible.builtin.copy:
    dest: "{{dest}}/.git/info/sparse-checkout"
    content: "{{info_sparse_checkout}}"

- name: git pull
  ansible.builtin.command:
    chdir: "{{dest}}"
    argv:
      - git
      - pull
      - origin
      - main
